language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install pipenv
  - pipenv install --ignore-pipfile 
# command to run tests
script:
  - pipenv shell
  - ./update-formulas.py
